<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="style.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</head>
	<body>
		<!-- event listening (and modifier) are similar in concept for keyboard too -->
		<div id="vue-app">
			<h1>Looping</h1>
			<button @click="current = !current">Toggle Generation</button>
			<h2>Old Yonkous</h2>
			<div :class="{old: true, gen: !current}">
				<ul>
					<li v-for="yonkou in oldYonkous">
						{{ yonkou }}
					</li>
				</ul>
			</div>
			<h2>New Yonkous</h2>
			<div :class="{new: true, gen: current}">
				<div v-for="yonkou in newYonkous">
					<p>
						<span :class="{active: current}">{{ yonkou.name }}</span>&#9;&#9;{{ yonkou.bounty }}
					</p>
				</div>
			</div>
		</div>
		<script src="app.js"></script>
	</body>
</html>
